/*--------------------------------------*/
/* Global styles */
/*--------------------------------------*/

html, body {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 63px;
}

h3 {
	font-size: 24px;
}

p {
	font-size: 21px;
}

img {
	width: 100%;
	height: auto;
}

.full-glyph {
	font-size: 40px;
}

/*--------------------------------------*/
/* Header styles */
/*--------------------------------------*/

header {
	width: 100%;
	padding: 100px 0 80px 0;
	color: #fff;
	background-image: linear-gradient(135deg, #f85032, #f0b55d);
}

#little_callie {
	position: absolute;
	height: 90px;
	width: auto;
	margin-left: 20px;
	top: 70px;
}

header h3 {
	padding-bottom: 24px;
}

header img {
	margin-bottom: 40px;
}

header button {
	color: #333;
	background-color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 8px 12px;
	border: 1px solid #a7a2a2;
	border-radius: 5px;
}

header button .fa-slack {
	margin-right: 8px;
}

header button span {
	font-weight: 800;
}

.features-p{
	font-size:14px;
}

@media screen and (max-width: 1299px) {
	#screenshot {
		display: none;
	}

    #little_callie {
        right: 0;
        top: 0;
        float: right;
        position: relative;
    }
}


/*--------------------------------------*/
/* Section styles */
/*--------------------------------------*/

.features{
	padding: 50px 0 50px 0;
}


/*--------------------------------------*/
/* Footer styles */
/*--------------------------------------*/

footer {
	width: 100%;
	padding: 100px 0 40px 0;
	color: #fff;
	background-image: linear-gradient(45deg, #000dff, #ba008c);
}

#fun {
	font-size: 36px;
	border: 2px solid aliceblue;
  padding: 50px;
  max-width: 235px;
}

#install {
	color: cyan;
}

#install:hover {
	color: magenta;
}

footer ul {
margin-top: 70px;
}

footer ul li {
	list-style: none;
	margin-bottom: 10px;
}

footer a,
footer a:hover {
	color: aliceblue;
}